.image-stack {
    top:200px;
    left:100px;
    position: relative;
    width: 100%; /* Ensure the container spans the full width */
    height: 400px; /* Set a height to control the stacking */
  }
  
  .image-stack__item--bottom,
  .image-stack__item--top {
    position: absolute;
    width: 100%; /* Make both images the same width */
    height: 100%; /* Make both images the same height */
  }
  
  .image-stack__item--bottom {
    top: -240px;
    left: 200px;
    z-index: 1;
    transform: translate(20px, 20px); 
    img {
      width: 400px; /* Adjust width */
      height: auto; /* Maintain aspect ratio */
    }
  }
  
  .image-stack__item--top {
    z-index: 2;
    transform: translate(-10px, -10px);
    img {
      width: 304px; /* Adjust width */
      height: auto; /* Maintain aspect ratio */
    }
  }
  
  
  /* Responsive styling */
  @media (max-width: 768px) {
    .image-stack {
      margin-bottom: 470px;
      top:100px;
      left:10%;
    }
    .image-stack__item--bottom {
      display: none; /* Hide bottom image on smaller screens */
    }
  
    .image-stack__item--top {
      width: 474px; /* Ensure top image scales to full width */
      
      height: auto; /* Maintain aspect ratio */
      transform: translate(0, 0); /* Adjust transform for better positioning */
    }
  }
  