.pages {
    width: 100%;
    position: relative;
    margin-bottom: 5vw;
    scroll-margin-top: 6.1vw;
  }
  
  .pages img {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    pointer-events: none;
    display: block;
  }
  